@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UberMove';
  src: url('/UberMoveText-Medium.ttf');
}

@font-face {
  font-family: 'UberMove';
  src: url('/UberMoveText-Regular.ttf');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
